<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>
<body>
   {% include 'header.html' %}

<div>
   <a href="/category/category1/0">
      <div class="post">
            <div>1 category</div>
      </div>
      <h3>Последние сообщения</h3>
   </a>
   {% for post in category1: %}
      <div class="post categoryPost">{{post.text}}</div>
   {% endfor %}
</div>

<div>
   <a href="/category/category2/0">
      <div class="post">
            <div>2 category</div>
      </div>
      <h3>Последние сообщения</h3>
   </a>
   {% for post in category2: %}
      <div class="post categoryPost">{{post.text}}</div>
   {% endfor %}
</div>

<div>
   <a href="/category/category3/0">
      <div class="post">
            <div>3 category</div>
      </div>
      <h3>Последние сообщения</h3>
   </a>
   {% for post in category3: %}
      <div class="post categoryPost">{{post.text}}</div>
   {% endfor %}
</div>


</body><script src="{{url_for('static', filename='js/popup.js')}}"></script>
</html>