<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  
</head>


<html>  
   <body>  
      <div class="profile">
         
         <h1>Ваш профиль:</h1>
         <p>Ваше имя: {{name}}</p>
         <p>Ваш аватар</p>
         <form action="/profile" method = "POST" enctype="multipart/form-data">  
         <div>
            <img src="{{ url_for('static', filename=image) }}" width="200" height="200">
            <div class="upload-btn-wrapper">
               <button class="btn">Upload a file</button>
               <input type="file" class="button-4" name="file" />  
            </div>
            <input type = "submit" class="button-68" value="submit" />  
         </div>
         
      </form>
      <button class="button-68 back-btn" onclick="window.location='/';">Назад</button>
      </div>
   </body>  
</html>